# System & OS
.DS_Store
Thumbs.db
desktop.ini
*.swp
*~
*.log
*.tmp
*.bak

# Environment
.env
.env.backup
.env.production

# Dependencies
/vendor
/node_modules

# Build & Dist
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail

# Laravel Framework
/storage/framework/cache/data/*
/storage/framework/views/*
/storage/framework/sessions/*
/storage/logs/*
!/storage/framework/views/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/cache/.gitignore
!/storage/logs/.gitignore
.phpunit.result.cache

# IDE & Editors
/.idea
/.vscode
/.fleet
/.zed
/.nova
.phpactor.json
*.sublime-workspace
auth.json

# Vagrant
Homestead.json
Homestead.yaml
